@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared Styles */

header,
main,
footer {
    max-width: 1140px;
    margin: 0 auto;
}

.primary-color {
    color: #E95A08;
}


section {
    margin-top: 120px;
}


.section-info {
    max-width: 890px;
    margin: 0 auto;
    text-align: center;
}

.section-title {
    font-size: 3.2rem;
    font-weight: 700;
    font-family: "Noto Serif", serif;
    margin-bottom: 20px;
}

.section-description {
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.5);
}

/* nav related styles */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100%;
}

.nav ul {
    display: flex;
    gap: 3rem;

}

.nav ul li {
    list-style: none;
}

.nav ul li a {
    text-decoration: none;

}

.nav-link {
    color: black;
}

.link-gray {
    color: #8987A1;
}

.fa-solid {
    margin-right: 5px;
}



/* banner related styles */

.banner {
    display: flex;
    padding-top: 4.6rem;
}

.banner div {
    width: 50%;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 13px;
}

.banner-image img {
    width: 100%;
}

/*  Our Plants section styles */
.plants {
    text-align: center;
}

.plants-info {
    margin-bottom: 50px;
}

.plants-info h2 {
    margin-bottom: 0;
}

.flower-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.flower-card {
    text-align: center;
}

.flower-name {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 10px 0;
    margin-bottom: 0;
}

.flower-price {
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

.flower-image {
    width: 100%;
}

.card-btn {
    color: white;
    background-color: #E95A08;
    font-weight: 600;
    border: 0;
    padding: 15px 88.5px;
}

/* Flower & Plants Lover Section style */

.flower-lover {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin-top: 200px;
}

.flower-lover div {
    width: 50%;
}

.flower-lover-image-container {
    position: relative;
}

.flower-lover-img {
    width: 100%;
}

#batch {
    position: absolute;
    width: 50%;
    left: 360px;
    bottom: 450px;

}

.flower-lover-info ul {
    margin-top: 50px;
}

.flower-lover-info ul li {
    margin-bottom: 50px;
}


/* Latest Deals section style */


.latest-deals-flower {
    display: grid;
    gap: 28px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 200px;
    margin-top: 50px;
}

.latest-flower {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 1.5rem;
}

.latest-flower-title {
    font-family: "Noto Serif", serif;
    margin: 10px 0;
}

.flower-buy-link {
    color: white;
}

#Bloom {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(assets/deal-bloom.png);
    grid-column: 1;
    grid-row: 1;

}

#Ana {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(assets/deal-ana.png);
    grid-column: 1;
    grid-row: 2;

}

#Zabo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("assets/deal-zabo.png");
    grid-column: span 2;
    grid-row: span 2;

}



/* ------------------------------------ */


/* -----mobile Responsive Media Query styles----- */

@media screen and (max-width: 576px) {

    /* shared styles */

    .section-title {
        font-size: 1.6rem;
    }

    .section-description {
        font-size: 1rem;

    }

    /* mobile nav related styles */
    .logo {
        width: 50%;
    }

    .nav ul {
        gap: 0;
    }

    .hide {
        display: none;
    }


    /* banner related styles */

    .banner {
        flex-direction: column-reverse;
        padding-top: 0rem;
        margin-top: 1.2rem;
    }

    .banner div {
        width: 100%;
    }

    .banner-title {
        font-size: 2.5rem;
        margin-bottom: 13px;
    }


    /*  Our Plants section styles */

    .flower-list {
        grid-template-columns: repeat(2, 1fr);

    }

    .card-btn {
        padding: 15px 47px;
    }


    /* Flower & Plants Lover Section style */

    .flower-lover {
        flex-direction: column;
        gap: 30px;
        margin-top: 80px;
    }

    .flower-lover div {
        width: 100%;
    }

    #batch {
        display: none;

    }

    .flower-lover-info ul li {
        margin-bottom: 30px;

    }


    /* Latest Deals section style */


    .latest-deals-flower {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 200px);
        margin-top: 50px;
    }

    #Zabo {
        grid-column: span 1;
        grid-row: span 1;

    }

}